body {
  background:url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Title {
  text-align: center;
  font-size: 60px;
  margin: 40px 0px;
  font-family: Helvetica; color: rgb(255, 255, 255);
}

.SelectBox {
  margin: auto;
  width: 950px;
  height: 75px;
  border-top: 1px rgb(255, 255, 255) solid;
  border-left: 1px rgb(255, 255, 255) solid;
  border-right: 1px rgb(255, 255, 255) solid;
  border-radius: 10px 10px 0px 0px;
  background: rgba(255, 255, 255, .1);
}

.Label_Checkbox_Pair {
  float: right;
  margin: 20px 10px;
  font-size: 20px;
  padding-right: 15px;
  font-family: Helvetica; color: rgb(255, 255, 255);
}